# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# Data
data/*.duckdb
data/*.duckdb.wal
data/output/

# Env
.env

# OS
.DS_Store

# IDE
.idea/
.vscode/

*.swp
*.html
SIGNALS.md
TODO.md
# scratch files for now
docs/
page_files/
data/
scripts/
sources/
outputs